[mysqld]
# Set default character set and collation
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# Set default time zone
default-time-zone='+00:00'

# Allow connections from any host
bind-address=0.0.0.0

# Performance settings
max_connections=200
innodb_buffer_pool_size=256M

# Logging settings
log_error=/var/log/mysql/error.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log
long_query_time=2

# General query log (disable in production)
general_log=0
general_log_file=/var/log/mysql/general.log

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4